<template>
  <header class="header">
    <div class="header-left">
      <img src="@/assets/5c2e1471c77c903db829ec392e1f74b1.svg" alt="Hospital Logo" class="logo"/>
      <h1>Dashboard</h1>
    </div>
    <div class="header-right">
      <img :src="profilePictureUrl" alt="Profile Picture" v-if="profilePictureUrl" class="profile-picture"/>
      <button @click="logout" class="logout-button">Logout</button>
    </div>
  </header>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      profilePictureUrl: ''
    };
  },
  created() {
    this.fetchProfilePicture();
  },
  methods: {
    fetchProfilePicture() {
      const token = localStorage.getItem('token');
      if (!token) return;

      axios.get('http://localhost:8080/profile', {
        headers: {
          'Authorization': `Bearer ${token}`
        }
      })
      .then(response => {
        if (response.data.profilePicture) {
          this.profilePictureUrl = `http://localhost:8080/profilePicture?id=${response.data.profilePicture}`;
        }
      })
      .catch(error => {
        console.error('Failed to fetch profile picture', error);
      });
    },
    logout() {
      localStorage.removeItem('token');
      localStorage.removeItem('role');
      this.$router.push('/login');
    }
  }
};
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: linear-gradient(135deg, #1e3a5f, #244a7c);
  color: #F9FAFB;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  margin-left: 10px;
}

.logo {
  height: 50px;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
}

.header-right {
  display: flex;
  align-items: center;
}

.profile-picture {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 15px;
  object-fit: cover;
  border: 2px solid #F9FAFB;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-picture:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.logout-button {
  padding: 10px 20px;
  background: #EF4444;
  border: none;
  color: #F9FAFB;
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  transition: background 0.3s, transform 0.3s;
}

.logout-button:hover {
  background: #DC2626;
  transform: translateY(-2px);
}
</style>
