/* Reset some basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background: #ffffff;
  color: #333;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #0d47a1;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

header .logo img {
  width: 150px;
}

header nav .btn {
  background-color: #1e88e5;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

header nav .btn:hover {
  background-color: #1565c0;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hero {
  background-color: #1e88e5;
  color: white;
  text-align: center;
  padding: 3rem 1rem;
}

.hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.2rem;
}

.services {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 1rem;
  background-color: #e3f2fd;
}

.services-content {
  flex: 1;
  min-width: 300px;
  margin-right: 2rem;
}

.services-image {
  flex: 1;
  min-width: 300px;
}

.services-image img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.contact {
  background-color: #0d47a1;
  color: white;
  text-align: center;
  padding: 3rem 1rem;
}

footer {
  background-color: #0d47a1;
  color: white;
  text-align: center;
  padding: 1rem;
  width: 100%;
}
