<template>
  <div class="dashboard-container">
    <Header />
    <div class="dashboard-content">
      <h2>Bem-vindo ao Painel do Administrador</h2>
      <div class="form-container">
        <h3>Cadastrar Novo Médico</h3>
        <form @submit.prevent="registerDoctor">
          <div class="form-group">
            <label for="name">Nome:</label>
            <input type="text" v-model="name" required />
          </div>
          <div class="form-group">
            <label for="cpf">CPF:</label>
            <input type="text" v-model="cpf" required @input="formatCPF" placeholder="000.000.000-00" />
          </div>
          <div class="form-group">
            <label for="sexo">Sexo:</label>
            <select v-model="sexo" required>
              <option value="" disabled>Selecione</option>
              <option value="Masculino">Masculino</option>
              <option value="Feminino">Feminino</option>
              <option value="Outro">Outro</option>
            </select>
          </div>
          <div class="form-group">
            <label for="nascimento">Data de Nascimento:</label>
            <input type="date" v-model="nascimento" required />
          </div>
          <div class="form-group">
            <label for="numero">Número:</label>
            <input type="text" v-model="numero" required @input="formatNumero" placeholder="(00)00000-0000" />
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" v-model="email" required />
          </div>
          <div class="form-group">
            <label for="password">Senha:</label>
            <input type="password" v-model="password" required />
          </div>
          <div class="form-group">
            <label for="specialty">Especialidade:</label>
            <select v-model="specialty" required>
              <option value="cardiology">Cardiologia</option>
              <option value="dermatology">Dermatologia</option>
              <option value="pediatrics">Pediatria</option>
              <option value="orthopedics">Ortopedia</option>
            </select>
          </div>
          <button type="submit">Cadastrar Médico</button>
          <div v-if="error" class="error">{{ error }}</div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import axios from '../axios'
import Header from '@/components/Header.vue'

export default {
  name: 'AdminDashboard',
  components: {
    Header
  },
  data() {
    return {
      name: '',
      cpf: '',
      sexo: '',
      nascimento: '',
      numero: '',
      email: '',
      password: '',
      specialty: 'cardiology',
      error: ''
    }
  },
  methods: {
    async registerDoctor() {
      this.error = ''
      if (!this.validateCPF(this.cpf)) {
        this.error = 'CPF inválido. Formato correto: 000.000.000-00'
        return
      }
      if (!this.validateNascimento(this.nascimento)) {
        this.error = 'Data de nascimento inválida. Não pode ser uma data futura.'
        return
      }
      if (!this.validateNumero(this.numero)) {
        this.error = 'Número de telefone inválido. Formato correto: (00)00000-0000'
        return
      }
      if (!this.validateEmail(this.email)) {
        this.error = 'Email inválido.'
        return
      }
      if (!this.validatePassword(this.password)) {
        this.error = 'Senha inválida. Deve ter no mínimo 8 caracteres e incluir um caractere especial.'
        return
      }
      try {
        const adminEmail = localStorage.getItem('email')
        await axios.post('/signupDoctor', {
          name: this.name,
          cpf: this.cpf,
          sexo: this.sexo,
          nascimento: this.nascimento,
          numero: this.numero,
          email: this.email,
          password: this.password,
          specialty: this.specialty
        }, {
          headers: {
            'admin-email': adminEmail
          }
        })
        alert('Médico cadastrado com sucesso!')
        this.name = ''
        this.cpf = ''
        this.sexo = ''
        this.nascimento = ''
        this.numero = ''
        this.email = ''
        this.password = ''
        this.specialty = 'cardiology'
      } catch (error) {
        if (error.response && error.response.status === 409) {
          this.error = error.response.data
        } else {
          this.error = 'Erro ao cadastrar médico. Por favor, tente novamente.'
        }
        console.error('Erro ao cadastrar médico:', error)
      }
    },
    validateEmail(email) {
      const re = /^[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$/
      return re.test(email)
    },
    validateCPF(cpf) {
      const re = /^\d{3}\.\d{3}\.\d{3}\-\d{2}$/
      return re.test(cpf)
    },
    validateNascimento(nascimento) {
      const date = new Date(nascimento)
      return date < new Date()
    },
    validateNumero(numero) {
      const re = /^\(\d{2}\)\d{4,5}\-\d{4}$/
      return re.test(numero)
    },
    validatePassword(password) {
      const re = /^(?=.*[!@#\$%\^&\*])(?=.*[a-zA-Z]).{8,}$/
      return re.test(password)
    },
    formatCPF() {
      let cpf = this.cpf.replace(/\D/g, '')
      if (cpf.length > 3) cpf = cpf.replace(/(\d{3})(\d)/, '$1.$2')
      if (cpf.length > 6) cpf = cpf.replace(/(\d{3})(\d)/, '$1.$2')
      if (cpf.length > 9) cpf = cpf.replace(/(\d{3})(\d{1,2})$/, '$1-$2')
      this.cpf = cpf
    },
    formatNumero() {
      let numero = this.numero.replace(/\D/g, '')
      if (numero.length > 2) numero = numero.replace(/(\d{2})(\d)/, '($1)$2')
      if (numero.length > 6) numero = numero.replace(/(\d{4,5})(\d)/, '$1-$2')
      this.numero = numero
    }
  }
}
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(to right, #e0eafc, #cfdef3);
}

.dashboard-container {
  background: linear-gradient(135deg, #f0f4f8, #e0e7ef);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.dashboard-content {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.dashboard-content h2 {
  font-size: 2.5rem;
  color: #1e3a5f;
  font-family: 'Playfair Display', serif;
  margin-bottom: 1.5rem;
}

.form-container {
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: left;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 1rem;
  color: #333;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #E5E7EB;
  border-radius: 10px;
  background: #F9FAFB;
  font-size: 1rem;
}

button {
  padding: 10px 20px;
  background: #4a90e2;
  border: none;
  color: #fff;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s, transform 0.3s;
}

button:hover {
  background: #357ABD;
  transform: translateY(-2px);
}

.error {
  color: red;
  margin-top: 1rem;
}
</style>
