<template>
  <div class="appointments-container">
    <Header />
    <div class="appointments-content">
      <h2>Consultas de Hoje</h2>
      <ul class="appointments-list">
        <li v-for="appointment in appointments" :key="appointment._id" class="appointment-item">
          <div class="appointment-header">
            <h3>Consulta com {{ appointment.patientName }} ({{ appointment.patientEmail }})</h3>
          </div>
          <div class="appointment-body">
            <p><strong>CPF do Paciente:</strong> {{ appointment.patientCPF }}</p>
            <p><strong>Sexo do Paciente:</strong> {{ appointment.patientSexo }}</p>
            <p><strong>Nascimento do Paciente:</strong> {{ formatDate(appointment.patientNascimento, true) }}</p>
            <p><strong>Número do Paciente:</strong> {{ appointment.patientNumero }}</p>
            <p><strong>Data:</strong> {{ formatDate(appointment.date) }}</p>
            <p><strong>Notas da Consulta:</strong> {{ appointment.notes }}</p>
            <p><strong>Status:</strong> <span :class="statusClass(appointment.status)">{{ appointment.status }}</span></p>
            <button @click="markAsComplete(appointment._id)" class="btn-complete">Confirmar</button>
            <button @click="cancelAppointment(appointment._id)" class="btn-cancel">Cancelar</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import Header from '@/components/Header.vue';

export default {
  name: 'DoctorAppointments',
  components: {
    Header
  },
  data() {
    return {
      appointments: []
    };
  },
  created() {
    this.fetchAppointments();
  },
  methods: {
    fetchAppointments() {
      const email = localStorage.getItem('email');
      axios.get(`http://localhost:8080/doctorAppointments?email=${email}`)
        .then(response => {
          this.appointments = response.data;
        })
        .catch(error => {
          console.error('Failed to fetch appointments', error);
        });
    },
    formatDate(date, isBirthdate = false) {
      if (!date) return 'Data inválida';
      if (isBirthdate) {
        const options = { year: 'numeric', month: 'long', day: 'numeric' };
        return new Date(date).toLocaleDateString('pt-BR', options);
      }

      const parts = date.split('T');
      let datePart = parts[0];
      let timePart = parts[1];

      let [hours, minutes, seconds] = timePart.split(':');
      if (hours.length === 1) hours = '0' + hours;
      if (minutes.length === 1) minutes = '0' + minutes;
      if (seconds.length === 1) seconds = '0' + seconds;

      timePart = `${hours}:${minutes}:${seconds}`;
      date = `${datePart}T${timePart}`;

      const options = { year: 'numeric', month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit' };
      const parsedDate = new Date(date);

      if (isNaN(parsedDate)) {
        return 'Data inválida';
      }

      return parsedDate.toLocaleDateString('pt-BR', options);
    },
    statusClass(status) {
      return {
        'pending': 'status-pending',
        'completed': 'status-completed',
        'cancelled': 'status-cancelled'
      }[status] || 'status-unknown';
    },
    markAsComplete(id) {
      axios.post('http://localhost:8080/markAsComplete', { id })
        .then(() => {
          this.fetchAppointments();
        })
        .catch(error => {
          console.error('Failed to mark as complete', error);
        });
    },
    cancelAppointment(id) {
      axios.post('http://localhost:8080/cancelAppointment', { id })
        .then(() => {
          this.fetchAppointments();
        })
        .catch(error => {
          console.error('Failed to cancel appointment', error);
        });
    }
  }
};
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(to right, #e0eafc, #cfdef3);
}

.appointments-container {
  background: linear-gradient(135deg, #f0f4f8, #e0e7ef);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.appointments-content {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.appointments-content h2 {
  font-size: 2.5rem;
  color: #1e3a5f;
  font-family: 'Playfair Display', serif;
  margin-bottom: 1.5rem;
}

.appointments-list {
  list-style-type: none;
  padding: 0;
}

.appointment-item {
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px 0;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.appointment-header {
  background: #f1f5f9;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.appointment-header h3 {
  font-size: 1.5rem;
  color: #1e3a5f;
  margin: 0;
}

.appointment-body p {
  font-size: 1rem;
  color: #555;
  margin: 5px 0;
}

.appointment-body p strong {
  color: #1e3a5f;
}

.status-pending {
  color: #FFA500;
}

.status-completed {
  color: #32CD32;
}

.status-cancelled {
  color: #FF0000;
}

.btn-complete, .btn-cancel {
  padding: 10px 20px;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 25px;
  font-size: 1rem;
  transition: background-color 0.3s, transform 0.3s;
  text-decoration: none;
  margin-right: 10px;
}

.btn-complete {
  background-color: #4a90e2;
}

.btn-cancel {
  background-color: #FF0000;
}

.btn-complete:hover {
  background-color: #357ABD;
  transform: translateY(-2px);
}

.btn-cancel:hover {
  background-color: #CC0000;
  transform: translateY(-2px);
}
</style>
