<template>
  <div class="dashboard-container">
    <Header />
    <div class="dashboard-content">
      <h2>Bem-vindo ao Painel do Médico</h2>
      <div class="dashboard-sections">
        <section class="dashboard-card" @click="viewAppointments">
          <i class="fas fa-calendar-alt icon"></i>
          <h3>Ver Consultas</h3>
          <router-link to="/doctorAppointments" class="btn-appointments">Ver Consultas</router-link>
        </section>
        <section class="dashboard-card">
          <i class="fas fa-user-edit icon"></i>
          <h3>Atualizar Perfil</h3>
          <router-link to="/profile" class="btn-update-profile">Atualizar</router-link>
        </section>
      </div>
    </div>
  </div>
</template>

<script>
import Header from '@/components/Header.vue';
import axios from 'axios';

export default {
  name: 'DoctorDashboard',
  components: {
    Header
  },
  data() {
    return {
      appointments: []
    }
  },
  methods: {
    viewAppointments() {
      const token = localStorage.getItem('token');
      const email = localStorage.getItem('email');
      if (!token || !email) return;

      axios.get(`http://localhost:8080/doctorAppointments?email=${email}`, {
        headers: {
          'Authorization': `Bearer ${token}`
        }
      })
      .then(response => {
        this.appointments = response.data;
      })
      .catch(error => {
        console.error('Failed to fetch appointments', error);
      });
    }
  },
  created() {
    this.viewAppointments();
  }
}
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(to right, #e0eafc, #cfdef3);
}

.dashboard-container {
  background: linear-gradient(135deg, #f0f4f8, #e0e7ef);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.dashboard-content {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.dashboard-content h2 {
  font-size: 2.5rem;
  color: #1e3a5f;
  font-family: 'Playfair Display', serif;
  margin-bottom: 1.5rem;
}

.dashboard-sections {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.dashboard-card {
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  width: 30%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  pointer-events: auto;
  z-index: 1;
}

.dashboard-card h3 {
  font-size: 1.5rem;
  color: #1e3a5f;
  margin-bottom: 0.5rem;
}

.dashboard-card .icon {
  font-size: 2rem;
  color: #4a90e2;
  margin-bottom: 1rem;
}

.btn-update-profile, .btn-appointments {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4a90e2;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 25px;
  font-size: 1rem;
  text-decoration: none;
  pointer-events: auto;
  z-index: 2;
}

.btn-update-profile:hover, .btn-appointments:hover {
  background-color: #357ABD;
}

.appointments-list {
  margin-top: 20px;
  text-align: left;
}

.appointments-list h3 {
  font-size: 1.8rem;
  color: #1e3a5f;
  margin-bottom: 1rem;
  font-family: 'Playfair Display', serif;
}

.appointments-list ul {
  list-style: none;
  padding: 0;
}

.appointments-list li {
  background: #f9fafc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.appointment-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.appointment-info span {
  flex: 1;
  text-align: center;
  color: #1e3a5f;
}

.btn-complete {
  padding: 5px 10px;
  background-color: #4caf50;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.btn-complete:hover {
  background-color: #388e3c;
}

@media (max-width: 768px) {
  .dashboard-card {
    width: 100%;
    margin: 10px 0;
  }
}
</style>
