<template>
  <div class="home-container">
    <header class="header">
      <div class="logo">
        <img src="@/assets/5c2e1471c77c903db829ec392e1f74b1.svg" alt="Hospital Logo">
      </div>
      <nav class="nav">
        <button @click="goToLogin" class="btn">Login</button>
        <button @click="goToSignUp" class="btn">Criação de Conta</button>
      </nav>
    </header>
    <main>
      <section class="hero">
        <div class="text">
          <h1>Bem-vindo ao Nosso Hospital</h1>
          <p>
            Oferecemos os melhores serviços de saúde para você e sua família. Nossa equipe de profissionais experientes está aqui para garantir seu bem-estar e conforto.</p>
        </div>
        <div class="image">
          <img src="@/assets/doctor.jpg" alt="Doctor Attending to a Patient">
        </div>
      </section>
      <section class="about">
        <div class="image">
          <img src="@/assets/hospital.jpg" alt="Modern Hospital Building">
        </div>
        <div class="text">
          <h2>Sobre Nós</h2>
          <p>Nosso hospital está equipado com instalações de última geração e uma equipe de profissionais médicos altamente qualificados. Estamos dedicados a fornecer cuidados compassivos e serviços médicos abrangentes.</p>
        </div>
      </section>
    </main>
  </div>
</template>

<script>
export default {
  name: 'HomeView',
  methods: {
    goToLogin() {
      this.$router.push({ name: 'login' });
    },
    goToSignUp() {
      this.$router.push({ name: 'signup' });
    },
    learnMore() {
      // Este método pode ser usado para navegar para uma página diferente ou exibir mais informações
    }
  }
}
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(to right, #e0eafc, #cfdef3);
}

.home-container {
  background: linear-gradient(135deg, #f0f4f8, #e0e7ef);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #1e3a5f;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
  height: 50px;
  transition: transform 0.3s ease;
}

.logo img:hover {
  transform: scale(1.1);
}

.nav .btn {
  margin-left: 1rem;
  padding: 0.5rem 1.5rem;
  background-color: #4a90e2;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 25px;
  transition: background-color 0.3s, transform 0.3s;
  font-size: 1rem;
}

.nav .btn:hover {
  background-color: #357ABD;
  transform: translateY(-2px);
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  background: linear-gradient(135deg, #f0f4f8, #e0e7ef);
  border-bottom: 5px solid #1e3a5f;
  animation: fadeIn 1s ease-in-out;
  text-align: center;
}

.hero .text {
  max-width: 60%;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hero h1 {
  font-size: 3rem;
  color: #1e3a5f;
  margin-bottom: 1rem;
  font-family: 'Playfair Display', serif;
  animation: slideInLeft 1s ease-in-out;
}

.hero p {
  font-size: 1.25rem;
  color: #555;
  margin-bottom: 1.5rem;
  animation: slideInLeft 1.5s ease-in-out;
}

.hero .btn-hero {
  padding: 1rem 2rem;
  background-color: #4a90e2;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 25px;
  font-size: 1rem;
  transition: background-color 0.3s, transform 0.3s;
}

.hero .btn-hero:hover {
  background-color: #357ABD;
  transform: translateY(-2px);
}

.hero .image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin-top: 2rem;
}

.hero .image img:hover {
  transform: scale(1.05);
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  background-color: #f0f4f8;
  animation: fadeIn 1s ease-in-out;
  text-align: center;
}

.about .text {
  max-width: 60%;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about h2 {
  font-size: 2rem;
  color: #1e3a5f;
  margin-bottom: 1rem;
  font-family: 'Playfair Display', serif;
  animation: slideInRight 1s ease-in-out;
}

.about p {
  font-size: 1.25rem;
  color: #555;
  animation: slideInRight 1.5s ease-in-out;
}

.about .image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin-top: 2rem;
}

.about .image img:hover {
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .hero, .about {
    flex-direction: row;
    text-align: left;
  }

  .hero .text, .about .text {
    max-width: 50%;
  }

  .hero .image, .about .image {
    max-width: 50%;
  }

  .hero .image, .about .image {
    margin-top: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
</style>
