<template>
  <div class="login-container">
    <header class="header">
      <div class="logo">
        <img src="@/assets/5c2e1471c77c903db829ec392e1f74b1.svg" alt="Hospital Logo">
      </div>
    </header>
    <main>
      <h1>Login</h1>
      <form @submit.prevent="login">
        <div class="input-group">
          <label for="email">Email:</label>
          <input v-model="email" type="email" id="email" name="email" required>
        </div>
        <div class="input-group">
          <label for="password">Password:</label>
          <input v-model="password" type="password" id="password" name="password" required>
        </div>
        <div class="input-group remember-me">
          <input type="checkbox" id="rememberMe" v-model="rememberMe">
          <label for="rememberMe">Lembrar-me</label>
        </div>
        <button type="submit" class="btn-submit">Login</button>
        <div v-if="error" class="error">{{ error }}</div>
      </form>
    </main>
  </div>
</template>

<script>
import axios from '../axios'

export default {
  name: 'LoginView',
  data() {
    return {
      email: '',
      password: '',
      rememberMe: false,
      error: ''
    }
  },
  methods: {
    async login() {
      this.error = ''
      try {
        const response = await axios.post('/login', {
          email: this.email,
          password: this.password,
          rememberMe: this.rememberMe
        })
        const { role, token } = response.data
        localStorage.setItem('role', role)
        localStorage.setItem('token', token)
        localStorage.setItem('email', this.email)
        if (this.rememberMe) {
          localStorage.setItem('rememberMe', true)
        } else {
          localStorage.removeItem('rememberMe')
        }
        if (role === 'doctor') {
          this.$router.push({ name: 'doctorDashboard' })
        } else if (role === 'patient') {
          this.$router.push({ name: 'patientDashboard' })
        } else if (role === 'admin') {
          this.$router.push({ name: 'adminDashboard' })
        }
      } catch (error) {
        this.error = 'Falha no login. Por favor, verifique seu email e senha.'
        console.error('Login failed:', error)
      }
    }
  }
}
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(to right, #e0eafc, #cfdef3);
}

.login-container {
  background: linear-gradient(135deg, #f0f4f8, #e0e7ef);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem 2rem;
  background-color: #1e3a5f;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
  height: 50px;
  transition: transform 0.3s ease;
}

.logo img:hover {
  transform: scale(1.1);
}

main {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}

h1 {
  font-size: 2.5rem;
  color: #1e3a5f;
  margin-bottom: 1.5rem;
  font-family: 'Playfair Display', serif;
}

.input-group {
  margin-bottom: 1.5rem;
}

.input-group label {
  display: block;
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 0.5rem;
  text-align: left;
}

.input-group input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
}

.remember-me {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.remember-me input {
  width: auto;
  margin-right: 0.5rem;
}

.btn-submit {
  width: 100%;
  padding: 1rem;
  background-color: #4a90e2;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 25px;
  font-size: 1.2rem;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-submit:hover {
  background-color: #357ABD;
  transform: translateY(-2px);
}

.error {
  color: red;
  margin-top: 1rem;
  font-size: 1rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
</style>
