<template>
  <div class="dashboard-container">
    <Header />
    <div class="dashboard-content">
      <h2>Bem-vindo ao Painel do Paciente</h2>
      <div class="dashboard-sections">
        <section class="dashboard-card">
          <i class="fas fa-user-edit icon"></i>
          <h3>Atualizar Perfil</h3>
          <router-link to="/profile" class="btn-update-profile">Atualizar</router-link>
        </section>
        <section class="dashboard-card">
          <i class="fas fa-calendar-plus icon"></i>
          <h3>Agendar Consulta</h3>
          <router-link to="/scheduleAppointment" class="btn-schedule-appointment">Agendar</router-link>
        </section>
        <section class="dashboard-card">
          <i class="fas fa-calendar-check icon"></i>
          <h3>Minhas Consultas</h3>
          <router-link to="/patientAppointments" class="btn-appointments">Ver Consultas</router-link>
        </section>
      </div>
    </div>
  </div>
</template>

<script>
import Header from '@/components/Header.vue';

export default {
  name: 'PatientDashboard',
  components: {
    Header
  }
}
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(to right, #e0eafc, #cfdef3);
}

.dashboard-container {
  background: linear-gradient(135deg, #f0f4f8, #e0e7ef);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.dashboard-content {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.dashboard-content h2 {
  font-size: 2.5rem;
  color: #1e3a5f;
  font-family: 'Playfair Display', serif;
  margin-bottom: 1.5rem;
}

.dashboard-sections {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.dashboard-card {
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  width: 30%;
  position: relative;
  overflow: hidden;
  pointer-events: auto;
  z-index: 1;
}

.dashboard-card h3 {
  font-size: 1.5rem;
  color: #1e3a5f;
  margin-bottom: 0.5rem;
}

.dashboard-card .icon {
  font-size: 2rem;
  color: #4a90e2;
  margin-bottom: 1rem;
}

.btn-update-profile, .btn-schedule-appointment, .btn-appointments {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4a90e2;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 25px;
  font-size: 1rem;
  text-decoration: none;
  pointer-events: auto;
  z-index: 2;
}

.btn-update-profile:hover, .btn-schedule-appointment:hover, .btn-appointments:hover {
  background-color: #357ABD;
}

@media (max-width: 768px) {
  .dashboard-card {
    width: 100%;
    margin: 10px 0;
  }
}
</style>
