<template>
  <div class="profile-update-container">
    <div class="profile-header">
      <h2>Atualizar Perfil</h2>
    </div>
    <form @submit.prevent="updateProfile" class="profile-form">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" v-model="email" />
      </div>
      <div class="form-group">
        <label for="name">Nome:</label>
        <input type="text" id="name" v-model="name" />
      </div>
      <div class="form-group">
        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" v-model="cpf" @input="formatCPF" placeholder="000.000.000-00" />
      </div>
      <div class="form-group">
        <label for="sexo">Sexo:</label>
        <select id="sexo" v-model="sexo">
          <option value="" disabled>Selecione</option>
          <option value="Masculino">Masculino</option>
          <option value="Feminino">Feminino</option>
          <option value="Outro">Outro</option>
        </select>
      </div>
      <div class="form-group">
        <label for="nascimento">Data de Nascimento:</label>
        <input type="date" id="nascimento" v-model="nascimento" />
      </div>
      <div class="form-group">
        <label for="numero">Número:</label>
        <input type="text" id="numero" v-model="numero" @input="formatNumero" placeholder="(00)00000-0000" />
      </div>
      <div class="form-group">
        <label for="password">Senha:</label>
        <input type="password" id="password" v-model="password" />
      </div>
      <div class="form-group">
        <label for="profilePicture">Foto de Perfil:</label>
        <input type="file" id="profilePicture" @change="onFileChange" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn-update">Atualizar Perfil</button>
      </div>
      <div v-if="error" class="error">{{ error }}</div>
    </form>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      email: '',
      name: '',
      cpf: '',
      sexo: '',
      nascimento: '',
      numero: '',
      password: '',
      profilePicture: null,
      error: ''
    };
  },
  methods: {
    onFileChange(event) {
      this.profilePicture = event.target.files[0];
    },
    validateEmail(email) {
      const re = /^[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$/
      return re.test(email)
    },
    validateCPF(cpf) {
      const re = /^\d{3}\.\d{3}\.\d{3}\-\d{2}$/
      return re.test(cpf)
    },
    validateNascimento(nascimento) {
      const date = new Date(nascimento)
      return date < new Date()
    },
    validateNumero(numero) {
      const re = /^\(\d{2}\)\d{4,5}\-\d{4}$/
      return re.test(numero)
    },
    validatePassword(password) {
      const re = /^(?=.*[!@#\$%\^&\*])(?=.*[a-zA-Z]).{8,}$/
      return re.test(password)
    },
    formatCPF() {
      let cpf = this.cpf.replace(/\D/g, '')
      if (cpf.length > 3) cpf = cpf.replace(/(\d{3})(\d)/, '$1.$2')
      if (cpf.length > 6) cpf = cpf.replace(/(\d{3})(\d)/, '$1.$2')
      if (cpf.length > 9) cpf = cpf.replace(/(\d{3})(\d{1,2})$/, '$1-$2')
      this.cpf = cpf
    },
    formatNumero() {
      let numero = this.numero.replace(/\D/g, '')
      if (numero.length > 2) numero = numero.replace(/(\d{2})(\d)/, '($1)$2')
      if (numero.length > 6) numero = numero.replace(/(\d{4,5})(\d)/, '$1-$2')
      this.numero = numero
    },
    updateProfile() {
      const token = localStorage.getItem('token');
      if (!token) return;

      if (this.email && !this.validateEmail(this.email)) {
        this.error = 'Email inválido.';
        return;
      }
      if (this.cpf && !this.validateCPF(this.cpf)) {
        this.error = 'CPF inválido. Formato correto: 000.000.000-00';
        return;
      }
      if (this.nascimento && !this.validateNascimento(this.nascimento)) {
        this.error = 'Data de nascimento inválida. Não pode ser uma data futura.';
        return;
      }
      if (this.numero && !this.validateNumero(this.numero)) {
        this.error = 'Número de telefone inválido. Formato correto: (00)00000-0000';
        return;
      }
      if (this.password && !this.validatePassword(this.password)) {
        this.error = 'Senha inválida. Deve ter no mínimo 8 caracteres e incluir um caractere especial.';
        return;
      }

      const formData = new FormData();
      if (this.email) formData.append('email', this.email);
      if (this.name) formData.append('name', this.name);
      if (this.cpf) formData.append('cpf', this.cpf);
      if (this.sexo) formData.append('sexo', this.sexo);
      if (this.nascimento) formData.append('nascimento', this.nascimento);
      if (this.numero) formData.append('numero', this.numero);
      if (this.password) formData.append('password', this.password);
      if (this.profilePicture) {
        formData.append('profilePicture', this.profilePicture);
      }

      axios.post('http://localhost:8080/updateProfile', formData, {
        headers: {
          'Authorization': `Bearer ${token}`
        }
      })
      .then(response => {
        alert('Perfil atualizado com sucesso!');
      })
      .catch(error => {
        if (error.response && error.response.status === 409) {
          this.error = error.response.data;
        } else {
          this.error = 'Erro ao atualizar perfil. Por favor, tente novamente.';
        }
        console.error('Erro ao atualizar perfil', error);
      });
    }
  }
};
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #e0eafc, #cfdef3);
}

.profile-update-container {
  max-width: 500px;
  width: 100%;
  padding: 20px;
  background: linear-gradient(135deg, #f0f4f8, #e0e7ef);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  animation: fadeIn 1s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.profile-update-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('@/assets/hospital_interior.jpg') no-repeat center center;
  background-size: cover;
  opacity: 0.1;
  z-index: 1;
}

.profile-header {
  margin-bottom: 20px;
  z-index: 2;
  position: relative;
}

.profile-header h2 {
  margin: 0;
  font-size: 2.5rem;
  color: #1e3a5f;
  font-family: 'Playfair Display', serif;
}

.profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  position: relative;
}

.form-group {
  width: 100%;
  margin-bottom: 1.5rem;
  position: relative;
}

.form-group label {
  display: block;
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 0.5rem;
  text-align: left;
  transition: color 0.3s;
}

.form-group input[type="email"],
.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="file"],
.form-group select,
.form-group input[type="date"] {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.form-group input:focus,
.form-group select:focus,
.form-group input[type="date"]:focus {
  border-color: #4a90e2;
  box-shadow: 0 0 8px rgba(74, 144, 226, 0.2);
}

.form-group input[type="file"] {
  padding: 0.5rem;
}

.btn-update {
  width: 100%;
  padding: 1rem;
  background-color: #4a90e2;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 25px;
  font-size: 1.2rem;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-update:hover {
  background-color: #357ABD;
  transform: translateY(-2px);
}

.error {
  color: red;
  margin-top: 1rem;
  font-size: 1rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
</style>
