<template>
  <div class="schedule-appointment-container">
    <Header />
    <div class="schedule-appointment-content">
      <h2>Agendar Consulta</h2>
      <div class="progress-bar">
        <div :style="{ width: `${progressPercentage}%` }" class="progress"></div>
      </div>
      <div class="step-container">
        <div class="step-card" v-if="currentStep === 0">
          <h3>Selecione a Especialidade</h3>
          <div class="select-wrapper">
            <select v-model="specialty" @change="fetchDoctors" required>
              <option value="" disabled selected>Selecione uma especialidade</option>
              <option v-for="specialty in specialties" :key="specialty" :value="specialty">
                {{ specialty }}
              </option>
            </select>
          </div>
          <button @click="nextStep" :disabled="!specialty" class="btn-next">Próximo</button>
        </div>

        <div class="step-card" v-if="currentStep === 1">
          <h3>Selecione o Médico</h3>
          <div class="select-wrapper">
            <select v-model="doctor" required>
              <option value="" disabled selected>Selecione um médico</option>
              <option v-for="doctor in doctors" :key="doctor.email" :value="doctor.email">
                {{ doctor.name }}
              </option>
            </select>
          </div>
          <button @click="previousStep" class="btn-prev">Anterior</button>
          <button @click="nextStep" :disabled="!doctor" class="btn-next">Próximo</button>
        </div>

        <div class="step-card" v-if="currentStep === 2">
          <h3>Selecione a Data</h3>
          <input type="date" v-model="date" @change="fetchUnavailableTimes" required />
          <button @click="previousStep" class="btn-prev">Anterior</button>
          <button @click="nextStep" :disabled="!date" class="btn-next">Próximo</button>
        </div>

        <div class="step-card" v-if="currentStep === 3">
          <h3>Selecione o Horário</h3>
          <div class="select-wrapper">
            <select v-model="time" required>
              <option value="" disabled selected>Selecione um horário</option>
              <option v-for="time in filteredTimeIntervals" :key="time" :value="time">
                {{ time }}
              </option>
            </select>
          </div>
          <button @click="previousStep" class="btn-prev">Anterior</button>
          <button @click="nextStep" :disabled="!time" class="btn-next">Próximo</button>
        </div>

        <div class="step-card" v-if="currentStep === 4">
          <h3>Adicionar Notas</h3>
          <textarea v-model="notes" placeholder="Adicione notas adicionais..."></textarea>
          <button @click="previousStep" class="btn-prev">Anterior</button>
          <button @click="schedule" class="btn-submit">Agendar</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import Header from '@/components/Header.vue'

export default {
  name: 'ScheduleAppointment',
  components: {
    Header
  },
  data() {
    return {
      date: '',
      time: '',
      specialty: '',
      doctor: '',
      notes: '',
      specialties: ['Cardiologia', 'Dermatologia', 'Pediatria', 'Ortopedia'],
      doctors: [],
      unavailableTimes: [],
      timeIntervals: this.generateTimeIntervals(),
      currentStep: 0,
    }
  },
  methods: {
    fetchDoctors() {
      if (!this.specialty) return
      axios.get(`http://localhost:8080/doctors?specialty=${this.specialty}`)
        .then(response => {
          this.doctors = response.data
          this.doctor = ''
          this.date = ''
          this.time = ''
        })
        .catch(error => {
          console.error('Failed to fetch doctors', error)
        })
    },
    fetchUnavailableTimes() {
      if (!this.date || !this.doctor) return
      axios.get(`http://localhost:8080/unavailableTimes?doctorEmail=${this.doctor}&date=${this.date}`)
        .then(response => {
          this.unavailableTimes = response.data
        })
        .catch(error => {
          console.error('Failed to fetch unavailable times', error)
        })
    },
    generateTimeIntervals() {
      const intervals = []
      for (let hour = 8; hour <= 18; hour++) {
        intervals.push(`${hour}:00`)
        intervals.push(`${hour}:30`)
      }
      return intervals
    },
    schedule() {
      const token = localStorage.getItem('token')
      if (!token) return

      const patientEmail = localStorage.getItem('email')
      const appointment = {
        date: `${this.date}T${this.time}:00`,
        specialty: this.specialty,
        doctorEmail: this.doctor,
        notes: this.notes,
        patientEmail: patientEmail
      }

      axios.post('http://localhost:8080/scheduleAppointment', appointment, {
        headers: {
          'Authorization': `Bearer ${token}`
        }
      })
      .then(response => {
        alert('Consulta agendada com sucesso!')
        this.$router.go(-1) // Redirecionar para a página anterior
      })
      .catch(error => {
        console.error('Erro ao agendar consulta', error)
        if (error.response && error.response.status === 409) {
          alert('Horário já ocupado. Selecione outro horário.')
        }
      })
    },
    nextStep() {
      if (this.currentStep === 0 && this.specialty) {
        this.fetchDoctors()
      } else if (this.currentStep === 1 && this.doctor) {
        this.fetchUnavailableTimes()
      }
      this.currentStep++
    },
    previousStep() {
      this.currentStep--
    }
  },
  computed: {
    filteredTimeIntervals() {
      return this.timeIntervals.filter(time => !this.unavailableTimes.includes(`${this.date}T${time}:00`))
    },
    progressPercentage() {
      return ((this.currentStep + 1) / 5) * 100
    }
  }
}
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(to right, #e0eafc, #cfdef3);
}

.schedule-appointment-container {
  background: linear-gradient(135deg, #f0f4f8, #e0e7ef);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.schedule-appointment-content {
  width: 100%;
  max-width: 600px;
  margin: 20px;
  padding: 20px;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.schedule-appointment-content h2 {
  font-size: 2.5rem;
  color: #1e3a5f;
  font-family: 'Playfair Display', serif;
  margin-bottom: 1.5rem;
}

.progress-bar {
  width: 100%;
  height: 8px;
  background: #e0e7ef;
  border-radius: 5px;
  margin-bottom: 20px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background: #4a90e2;
  transition: width 0.3s ease;
}

.step-container {
  display: flex;
  flex-direction: column;
}

.step-card {
  background: #f9fafc;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.step-card:hover {
  transform: translateY(-5px);
}

.step-card h3 {
  font-size: 1.5rem;
  color: #1e3a5f;
  margin-bottom: 15px;
}

.select-wrapper {
  position: relative;
  margin-bottom: 20px;
}

.select-wrapper::after {
  content: '▼';
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  pointer-events: none;
}

.select-wrapper select {
  appearance: none;
  width: 100%;
  padding: 10px;
  border: 1px solid #e0e7ef;
  border-radius: 10px;
  background: #f9fafc;
  font-size: 1rem;
  color: #1e3a5f;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #e0e7ef;
  border-radius: 10px;
  background: #f9fafc;
  font-size: 1rem;
  color: #1e3a5f;
  min-height: 100px;
}

.btn-prev,
.btn-next,
.btn-submit {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-next {
  background-color: #4a90e2;
  color: #fff;
}

.btn-prev {
  background-color: #f0f4f8;
  color: #1e3a5f;
  margin-right: 10px;
}

.btn-submit {
  background-color: #28a745;
  color: #fff;
}

.btn-next:hover, .btn-prev:hover, .btn-submit:hover {
  transform: translateY(-2px);
}

.btn-next:disabled, .btn-submit:disabled {
  background-color: #e0e7ef;
  cursor: not-allowed;
}
</style>
