<template>
  <div class="signup-container">
    <header class="header">
      <div class="logo">
        <img src="@/assets/5c2e1471c77c903db829ec392e1f74b1.svg" alt="Hospital Logo">
      </div>
    </header>
    <main>
      <h1>Criação de Conta</h1>
      <form @submit.prevent="signup">
        <div class="input-group">
          <label for="name">Nome:</label>
          <input v-model="name" type="text" id="name" name="name" required>
        </div>
        <div class="input-group">
          <label for="cpf">CPF:</label>
          <input v-model="cpf" type="text" id="cpf" name="cpf" required @input="formatCPF" placeholder="000.000.000-00">
        </div>
        <div class="input-group">
          <label for="sexo">Sexo:</label>
          <select v-model="sexo" id="sexo" name="sexo" required>
            <option value="" disabled>Selecione</option>
            <option value="Masculino">Masculino</option>
            <option value="Feminino">Feminino</option>
            <option value="Outro">Outro</option>
          </select>
        </div>
        <div class="input-group">
          <label for="nascimento">Data de Nascimento:</label>
          <input v-model="nascimento" type="date" id="nascimento" name="nascimento" required>
        </div>
        <div class="input-group">
          <label for="numero">Número:</label>
          <input v-model="numero" type="text" id="numero" name="numero" required @input="formatNumero" placeholder="(00)00000-0000">
        </div>
        <div class="input-group">
          <label for="email">Email:</label>
          <input v-model="email" type="email" id="email" name="email" required>
        </div>
        <div class="input-group">
          <label for="password">Senha:</label>
          <input v-model="password" type="password" id="password" name="password" required>
        </div>
        <div class="input-group">
          <label for="confirmPassword">Confirmar Senha:</label>
          <input v-model="confirmPassword" type="password" id="confirmPassword" name="confirmPassword" required>
        </div>
        <button type="submit" class="btn-submit">Criar Conta</button>
        <div v-if="error" class="error">{{ error }}</div>
      </form>
    </main>
  </div>
</template>

<script>
import axios from '../axios'

export default {
  name: 'SignUpView',
  data() {
    return {
      name: '',
      cpf: '',
      sexo: '',
      nascimento: '',
      numero: '',
      email: '',
      password: '',
      confirmPassword: '',
      error: ''
    }
  },
  methods: {
    async signup() {
      if (!this.validateCPF(this.cpf)) {
        this.error = 'CPF inválido. Formato correto: 000.000.000-00'
        return
      }
      if (!this.validateNascimento(this.nascimento)) {
        this.error = 'Data de nascimento inválida. Não pode ser uma data futura.'
        return
      }
      if (!this.validateNumero(this.numero)) {
        this.error = 'Número de telefone inválido. Formato correto: (00)00000-0000'
        return
      }
      if (!this.validateEmail(this.email)) {
        this.error = 'Email inválido.'
        return
      }
      if (!this.validatePassword(this.password)) {
        this.error = 'Senha inválida. Deve ter no mínimo 8 caracteres e incluir um caractere especial.'
        return
      }
      if (this.password !== this.confirmPassword) {
        this.error = 'As senhas não coincidem'
        return
      }
      this.error = ''
      try {
        await axios.post('/signup', {
          name: this.name,
          cpf: this.cpf,
          sexo: this.sexo,
          nascimento: this.nascimento,
          numero: this.numero,
          email: this.email,
          password: this.password
        })
        this.$router.push({ name: 'login' })
      } catch (error) {
        if (error.response && error.response.status === 409) {
          this.error = error.response.data
        } else {
          this.error = 'Falha na criação da conta. Por favor, tente novamente.'
        }
        console.error('Signup failed:', error)
      }
    },
    validateEmail(email) {
      const re = /^[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$/
      return re.test(email)
    },
    validateCPF(cpf) {
      const re = /^\d{3}\.\d{3}\.\d{3}\-\d{2}$/
      return re.test(cpf)
    },
    validateNascimento(nascimento) {
      const date = new Date(nascimento)
      return date < new Date()
    },
    validateNumero(numero) {
      const re = /^\(\d{2}\)\d{4,5}\-\d{4}$/
      return re.test(numero)
    },
    validatePassword(password) {
      const re = /^(?=.*[!@#\$%\^&\*])(?=.*[a-zA-Z]).{8,}$/
      return re.test(password)
    },
    formatCPF() {
      let cpf = this.cpf.replace(/\D/g, '')
      if (cpf.length > 3) cpf = cpf.replace(/(\d{3})(\d)/, '$1.$2')
      if (cpf.length > 6) cpf = cpf.replace(/(\d{3})(\d)/, '$1.$2')
      if (cpf.length > 9) cpf = cpf.replace(/(\d{3})(\d{1,2})$/, '$1-$2')
      this.cpf = cpf
    },
    formatNumero() {
      let numero = this.numero.replace(/\D/g, '')
      if (numero.length > 2) numero = numero.replace(/(\d{2})(\d)/, '($1)$2')
      if (numero.length > 6) numero = numero.replace(/(\d{4,5})(\d)/, '$1-$2')
      this.numero = numero
    }
  }
}
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(to right, #e0eafc, #cfdef3);
}

.signup-container {
  background: linear-gradient(135deg, #f0f4f8, #e0e7ef);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem 2rem;
  background-color: #1e3a5f;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
  height: 50px;
  transition: transform 0.3s ease;
}

.logo img:hover {
  transform: scale(1.1);
}

main {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}

h1 {
  font-size: 2.5rem;
  color: #1e3a5f;
  margin-bottom: 1.5rem;
  font-family: 'Playfair Display', serif;
}

.input-group {
  margin-bottom: 1.5rem;
}

.input-group label {
  display: block;
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 0.5rem;
  text-align: left;
}

.input-group input,
.input-group select {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
}

.btn-submit {
  width: 100%;
  padding: 1rem;
  background-color: #4a90e2;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 25px;
  font-size: 1.2rem;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-submit:hover {
  background-color: #357ABD;
  transform: translateY(-2px);
}

.error {
  color: red;
  margin-top: 1rem;
  font-size: 1rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
</style>
